<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AutoUpdateCoreFiles" value="true"/>
    <add key="LogLevel" value="Debug"/>
    <add key="MaxLogFileSize" value="10"/>
    <add key="MemoryCachePercentage" value="80"/>
    <add key="CreateNewLogFileOnMaxSize" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="InstanceName" value="dev"/>
    <add key="DataConnectionString" value="UseDevelopmentStorage=true"/>
    <add key="DatabaseServer" value="localhost\SqlExpress"/>
    <add key="DatabaseUserSuffix" value="None"/>
    <add key="CentralDataProvider" value="AzureTable"/>
    <add key="BlobStorage" value="FileSystem"/>
    <add key="BlobFileSystemPath" value="d:\blobstorage\"/>
    <add key="TempFilePath" value="d:\temp"/>
    <add key="ShowConfigs" value="true"/>
    <add key="ExcelExportUseStyle" value="false"/>
    <add key="LiveShareDataConnectionString" value=""/>
    <add key="ExcelExportColumnWidth" value="18"/>
    <!--<add key="TargetTenant" value="dev" />-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    </assemblyBinding>
  </runtime>
</configuration>
